
/*If you want to override any default properties in Bootstrap you have to make the properties as important.*/

/* Buttons in top navbar */

.list-group-item {
  padding-left:5px !important;
  padding-right:5px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  border-color: #ffffff !important;
}

.list-group {
  --bs-list-group-color: #fffff !important;
}

.nav-right-col {
width:100%;    
display: flex;
flex-direction: column;
align-items: flex-end;
}

.btn-box {
  width:710px !important;
  background-color:red;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    color: black !important;
    background-color: white !important;
    border-color: #ebebeb !important;
    font-size:medium !important;
}



.btn-primary:hover {
  border-color: #d1d4d4 !important;
}
.btn-primary:active {
  box-shadow: 0 0 0 3px #b2f0eb !important;
  border-color: #00ccbc !important;
}

.font-awesome {
  color: #00ccbc !important;
}

/* navbar */

.navbar {
  border-bottom: solid #ebebeb;
  position:absolute;
  width:100%;
}


.container-top {
  padding-left:30px !important;
}


.nav-row {
  width:100%;
}

.me-2 {
  border-color: #ebebeb !important;
  color:#abadad !important;
}

.me-2:focus {
  border-color:black !important;
  border-width: 2px;
  box-shadow: 0 0 0 0 #b2f0eb !important;
}




